<% include header.ejs %>
<% include top_nav.ejs %>


<body style="padding-top:30px">
<div class="container-fluid" >
  <div class="row">
      <% include left.ejs %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <h2 class="sub-header" style="position: relative;"><%= keyword %>

          <a href="javascript:;" style="position:absolute;right:10px;font-size:16px;top:10px;cursor: pointer;">
              <input id="excelfile" name="excelfile" type="file" style="width:90px;height:20px;position: absolute;z-index: 99;  opacity: 0;display: block;
  cursor: pointer; " />
          <span class="glyphicon glyphicon-circle-arrow-up" aria-hidden="true" style="cursor: pointer;"></span>
          <span id="inport">导入Excel</span>
          </a>
      </h2>

      <div class="table-responsive">
          <style>
              .table>tbody>tr>td{
                  padding: 15px 8px;
              }
          </style>
        <table class="table table-striped" style="white-space: normal">
          <thead>

          <% if(datos.length > 0) { %>
          <tr>
              <th>序号</th>
            <th>姓名</th>
            <th>职务</th>
            <th>职称</th>
            <th>手机号</th>
            <th>Email</th>
            <th>单位</th>
            <th>操作</th>
          </tr>
          <%  } %>
          </thead>
          <tbody>

          <% datos.forEach(function (v, k){ %>

          <tr>
              <% if(page!=null) { %>
              <td><%= (k+1) + (page.num-1)*10 %></td>

              <%} else{ %>
              <td><%= (k+1) %></td>
              <% } %>
          <td><%= v.UserName %></td>
          <td style="max-width:150px;overflow:hidden;padding-right:30px"><%=v.Post%></td>
          <td  style="max-width:150px;overflow:hidden"><%= v.Title%></td>
          <td><%= v.Mobile %></td>
          <td style="max-width:80px;overflow:hidden;word-break:break-all;padding-right:20px"><%= v.Email %></td>
          <td style="max-width:120px;overflow:hidden"><%= v.Company%></td>
          <td><a class="btn-link" href="/expert/<%= v.id %>">更多</a><br/>
              <a class="btn-link" href="/edit/<%= v.id %>">编辑</a><br/>
              <a class="btn-link" onclick="return confirm('确定要删除 “<%= v.UserName %>” 吗?') "  href="/del/<%= v.id %>">删除</a></td>
          </tr>

          <% }) %>


          </tbody>
        </table>

           <% if(page!=null) {%>
          <div id="page1" pageCount="<%=page.pageCount%>" pageNum="<%=page.num %>" pageSize="<%=page.size%>" pageLimit="<%=page.limit%>" numberOfPages="<%=page.numberOf%>"></div>
          <% }%>
      </div>


    </div>
  </div>
</div>

<% include commonScript.ejs %>

<style>
      .pagination{margin:0 auto; display:block;width:419px}
      .pagination a{  color: #0A79D8;}
    .pagination ul{*zoom:1;margin-left:0;margin-bottom:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);}
    .pagination ul>li{display:inline;}
    .pagination ul>li>a,.pagination ul>li>span{float:left;padding:4px 12px;line-height:20px;text-decoration:none;background-color:#ffffff;border:1px solid #dddddd;border-left-width:0;}
    .pagination ul>li>a:hover,.pagination ul>li>a:focus,.pagination ul>.active>a,.pagination ul>.active>span{background-color:#f5f5f5;}
    .pagination ul>.active>a,.pagination ul>.active>span{color:#999999;cursor:default;}
    .pagination ul>.disabled>span,.pagination ul>.disabled>a,.pagination ul>.disabled>a:hover,.pagination ul>.disabled>a:focus{color:#999999;background-color:transparent;cursor:default;}
    .pagination ul>li:first-child>a,.pagination ul>li:first-child>span{border-left-width:1px;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;}
    .pagination ul>li:last-child>a,.pagination ul>li:last-child>span{-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px;}
    .pagination-centered{text-align:center;}
    .pagination-right{text-align:right;}
    .pagination-large ul>li>a,.pagination-large ul>li>span{padding:11px 19px;font-size:17.5px;}
    .pagination-large ul>li:first-child>a,.pagination-large ul>li:first-child>span{-webkit-border-top-left-radius:6px;-moz-border-radius-topleft:6px;border-top-left-radius:6px;-webkit-border-bottom-left-radius:6px;-moz-border-radius-bottomleft:6px;border-bottom-left-radius:6px;}
    .pagination-large ul>li:last-child>a,.pagination-large ul>li:last-child>span{-webkit-border-top-right-radius:6px;-moz-border-radius-topright:6px;border-top-right-radius:6px;-webkit-border-bottom-right-radius:6px;-moz-border-radius-bottomright:6px;border-bottom-right-radius:6px;}
    .pagination-mini ul>li:first-child>a,.pagination-small ul>li:first-child>a,.pagination-mini ul>li:first-child>span,.pagination-small ul>li:first-child>span{-webkit-border-top-left-radius:3px;-moz-border-radius-topleft:3px;border-top-left-radius:3px;-webkit-border-bottom-left-radius:3px;-moz-border-radius-bottomleft:3px;border-bottom-left-radius:3px;}
    .pagination-mini ul>li:last-child>a,.pagination-small ul>li:last-child>a,.pagination-mini ul>li:last-child>span,.pagination-small ul>li:last-child>span{-webkit-border-top-right-radius:3px;-moz-border-radius-topright:3px;border-top-right-radius:3px;-webkit-border-bottom-right-radius:3px;-moz-border-radius-bottomright:3px;border-bottom-right-radius:3px;}
    .pagination-small ul>li>a,.pagination-small ul>li>span{padding:2px 10px;font-size:11.9px;}
    .pagination-mini ul>li>a,.pagination-mini ul>li>span{padding:0 6px;font-size:10.5px;}
    .pager{margin:20px 0;list-style:none;text-align:center;*zoom:1;}.pager:before,.pager:after{display:table;content:"";line-height:0;}
    .pager:after{clear:both;}
    .pager li{display:inline;}
    .pager li>a,.pager li>span{display:inline-block;padding:5px 14px;background-color:#fff;border:1px solid #ddd;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;}
    .pager li>a:hover,.pager li>a:focus{text-decoration:none;background-color:#f5f5f5;}
    .pager .next>a,.pager .next>span{float:right;}
    .pager .previous>a,.pager .previous>span{float:left;}
    .pager .disabled>a,.pager .disabled>a:hover,.pager .disabled>a:focus,.pager .disabled>span{color:#999999;background-color:#fff;cursor:default;}
</style>

<script src="/javascripts/bootstrap-paginator.min.js"></script>
<script>
    $(function(){

        //上传头像
        $("#excelfile").change(function(){
            var data = new FormData();
            var files = $("#excelfile")[0].files;
            if(files){
                data.append("file", files[0]);
            }
            $.ajax({

                type: 'post',
                dataType: 'json',
                url:'/excel',
                data : data,
                contentType: false,
                processData: false,
                beforeSend: function () {
                $('#inport').html("导入中...");
            },
                success: function (data2) {
                    $('#inport').html("导入Excel");
                    if(data2[0].error==0) {
                        alert("成功导入"+data2[0].success+"条记录");
                        window.location.href="/";
                    }
                    else
                        alert("导入失败，请重试");
                }

            })
        })
        //分页功能
        var page=$('#page1');
        var options = {
            currentPage:page.attr('pageNum'),
            totalPages:page.attr('pageCount'),
            numberOfPages:page.attr('numberOfPages'),
            pageUrl: function(type, page, current){
                return "/?p="+page;
            }
        }
        $('#page1').bootstrapPaginator(options);

    })
</script>
<% include footer.ejs %>