<% include header.ejs %>
<% include top_nav.ejs %>


<body style="padding-top:30px">
<div class="container-fluid" >
  <div class="row">
      <% include left.ejs %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <h2 class="sub-header">专家列表</h2>
      <div class="table-responsive">
          <style>
              .table>tbody>tr>td{
                  padding: 15px 8px;
              }
          </style>
        <table class="table table-striped" style="white-space: normal">
          <thead>
          <tr>
              <th>序号</th>
            <th>姓名</th>
            <th>职务</th>
            <th>职称</th>
            <th>手机号</th>
            <th>Email</th>
            <th>单位</th>
            <th>详情</th>
          </tr>
          </thead>
          <tbody>

          <% datos.forEach(function (v, k){ %>

          <tr>
              <td><%= k+1 %></td>
          <td><%= v.UserName %></td>
          <td style="max-width:120px;overflow:hidden"><%=v.Post%></td>
          <td  style="max-width:120px;overflow:hidden"><%= v.Title%></td>
          <td><%= v.Mobile %></td>
          <td><%= v.Email %></td>
          <td style="max-width:120px;overflow:hidden"><%= v.Company%></td>
          <td><a class="btn-link" href="/expert/<%= v.id %>">更多</a></td>
          </tr>

          <% }) %>


          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<% include footer.ejs %>